In [2]:
import pandas as pd
import requests
from io import StringIO

In [3]:
csv = pd.read_csv('datasets/raw_data/brasileirao/match_history.csv')

In [8]:
csv[csv['season'] == 2015]

,season,date,time,comp,round,day,venue,result,gf,ga,...,poss.1,attendance.1,captain.1,formation.1,referee.1,match report.1,notes.1,sh.1,sot.1,saves.1
796,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,35000.0,NaN,NaN,Patricio Loustau,Match Report,Leg 1 of 2,NaN,NaN,NaN
797,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,15000.0,NaN,NaN,Darío Ubríaco,Match Report,Leg 2 of 2; Corinthians won,NaN,NaN,NaN
798,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,50000.0,NaN,NaN,Ricardo Marques Ribeiro,Match Report,NaN,NaN,NaN,NaN
799,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Carlos Vera,Match Report,NaN,NaN,NaN,NaN
800,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Julio Bascuñán,Match Report,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1621,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.0,9679.0,NaN,4-2-2-2,Wagner Reway,Match Report,NaN,NaN,NaN,NaN
1622,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56.0,8453.0,NaN,4-2-3-1,Luiz Flávio de Oliveira,Match Report,NaN,NaN,NaN,NaN
1623,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,49.0,7026.0,NaN,4-3-1-2,Marcelo Aparecido Ribeiro De Souza,Match Report,NaN,NaN,NaN,NaN
1624,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40.0,24933.0,NaN,4-2-3-1,Rodolpho Toski Marques,Match Report,NaN,NaN,NaN,NaN
1625,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,52.0,5979.0,NaN,4-3-2-1,Raphael Claus,Match Report,NaN,NaN,NaN,NaN

In [20]:
csv['season'] = csv['season'].apply(str)

In [19]:
csv['season']

0      2014
1      2014
2      2014
3      2014
4      2014
       ...
215    2024
216    2024
217    2024
218    2024
219    2024
Name: season, Length: 220, dtype: object